<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  
  <title>Personas</title>
  
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<a href="/person/new">Add</a>
<br/>
<table class="table">
<thead>

  <tr>
  	<td>Id</td>
  	<td>Nombre</td>
  </tr>
  </thead>
       
   <tbody>
  <tr th:each="person : ${persons}">
  	<td>
  		<a th:href="@{'/person/__${person.id}__/edit'}"
  			th:text="${person.id}"
  			/>
  	</td>
  	<td th:text="${person.firstName}"></td>
  </tr>
</tbody>
</table>
</div>

</body>
</html>